body {
  font-family: "Titillium Web", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 7px;
  margin-left: 10px;
  padding: 5px;
}

#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  padding: 50px; 
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  background:rgba(214, 184, 11, 0.75)
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#tasks {
  padding-inline-start: 0px;
}
